@import url('https://fonts.googleapis.com/css2?family=Dongle');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Vujahday+Script&family=Waterfall');

html
{
    cursor: url("img/cursor.png"), auto;
	width: 100vw;
	height: 100vh;
}

body
{
    background: url("img/Christmas-2.jpg");
	background-repeat: round;
	background-color: #222;
}

::selection
{
    color: white;
    background: #FF2222;
}

#card
{
    position: absolute; 
	width: 50ch;
    height: 80ch;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 2em 0.5em red;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}
#card h1
{
	text-align: center;
	margin-bottom: 64px;
	margin-top: 10px;
	font-family: "dongle", sans-serif;
	font-size: 50px;
	color: red;
	text-decoration: underline;
	margin-bottom: 0;
}


#hat
{
	position: absolute;
	max-width: 100px;
	left: 342px;
	top: -45px;
}

.pp
{
	font-family: "Dancing Script";
	text-align: center;
	margin-bottom: -10px;
	font-size: 30px;
	color: #0B0;
	line-height: 30px;
}

#pyou
{
	letter-spacing: .5ch;
}
#pmerry
{
	letter-spacing: .4ch;
}
#pxmas
{
	letter-spacing: .4ch;
}
#pandNewYear
{
	margin-top: 80px;
	letter-spacing: .15ch;
}

#p2021
{
	font-family: "Dancing Script";
	text-align: center;
	margin-bottom: -10px;
	font-size: 25px;
	color: #0B0;
	line-height: 13px;
}

.stars
{
	font-family: "Dancing Script";
	font-size: 50px;
	color: red;
	z-index: 1000;
	line-height: 10px;
	position: absolute;
}



@media (max-width: 600px)
{
	#card
	{
		position: absolute;
		max-width: 350px;
		max-height: 60ch;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		overflow: visible;
	}

	#hat
	{
		left: 292px;
	}

	#card p:not(#p2021)
	{
		font-size: 20px;
	}

	#pi
	{
		margin-top: 0px;
	}

	#p2021
	{
		font-size: 15px;
	}

	#pandNewYear
	{
		margin-top: 50px;
	}

	body
	{
		background-repeat: no-repeat;
		background-color: #222;
		background-position: -500px;
	}

	.stars
	{
		font-size: 4 v0px;
	}
}